@charset "UTF-8";

/* Scrol Icon */
.mouse{background:#4e5559 -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(50%,transparent),color-stop(50%,#fefe01),to(#fefe01));background:#4e5559 linear-gradient(transparent 0%,transparent 50%,#fefe01 50%,#fefe01 100%);position:relative;width:40px;height:64px;
border-radius:100px;background-size:100% 200%;-webkit-animation:colorSlide 10s linear infinite,nudgeMouse 10s ease-out infinite;animation:colorSlide 10s linear infinite,nudgeMouse 10s ease-out infinite}
.mouse:before,.mouse:after{content:"";position:absolute;top:0;right:0;bottom:0;left:0;margin:auto}
.mouse:before{width:36px;height:60px;background-color:#16151a;border-radius:100px}
.mouse:after{background-color:#fefe01;width:6px;height:20px;border-radius:5px;-webkit-animation:trackBallSlide 10s linear infinite;animation:trackBallSlide 10s linear infinite}
@-webkit-keyframes colorSlide {
0%{background-position:0 100%}
20%{background-position:0 0}
21%{background-color:#4e5559}
29.99%{background-color:#fefe01;background-position:0 0}
30%{background-color:#4e5559;background-position:0 100%}
50%{background-position:0 0}
51%{background-color:#4e5559}
59%{background-color:#fefe01;background-position:0 0}
60%{background-color:#4e5559;background-position:0 100%}
80%{background-position:0 0}
81%{background-color:#4e5559}
90%,100%{background-color:#fefe01}
}
@keyframes colorSlide {
0%{background-position:0 100%}
20%{background-position:0 0}
21%{background-color:#4e5559}
29.99%{background-color:#fefe01;background-position:0 0}
30%{background-color:#4e5559;background-position:0 100%}
50%{background-position:0 0}
51%{background-color:#4e5559}
59%{background-color:#fefe01;background-position:0 0}
60%{background-color:#4e5559;background-position:0 100%}
80%{background-position:0 0}
81%{background-color:#4e5559}
90%,100%{background-color:#fefe01}
}
@-webkit-keyframes trackBallSlide {
0%{opacity:1;-webkit-transform:scale(1) translateY(-10px);transform:scale(1) translateY(-10px)}
6%{opacity:1;-webkit-transform:scale(0.9) translateY(5px);transform:scale(0.9) translateY(5px)}
14%{opacity:0;-webkit-transform:scale(0.4) translateY(40px);transform:scale(0.4) translateY(40px)}
15%,19%{opacity:0;-webkit-transform:scale(0.4) translateY(-10px);transform:scale(0.4) translateY(-10px)}
28%,29.99%{opacity:1;-webkit-transform:scale(1) translateY(-10px);transform:scale(1) translateY(-10px)}
30%{opacity:1;-webkit-transform:scale(1) translateY(-10px);transform:scale(1) translateY(-10px)}
36%{opacity:1;-webkit-transform:scale(0.9) translateY(5px);transform:scale(0.9) translateY(5px)}
44%{opacity:0;-webkit-transform:scale(0.4) translateY(40px);transform:scale(0.4) translateY(40px)}
45%,49%{opacity:0;-webkit-transform:scale(0.4) translateY(-10px);transform:scale(0.4) translateY(-10px)}
58%,59.99%{opacity:1;-webkit-transform:scale(1) translateY(-10px);transform:scale(1) translateY(-10px)}
60%{opacity:1;-webkit-transform:scale(1) translateY(-10px);transform:scale(1) translateY(-10px)}
66%{opacity:1;-webkit-transform:scale(0.9) translateY(5px);transform:scale(0.9) translateY(5px)}
74%{opacity:0;-webkit-transform:scale(0.4) translateY(40px);transform:scale(0.4) translateY(40px)}
75%,79%{opacity:0;-webkit-transform:scale(0.4) translateY(-10px);transform:scale(0.4) translateY(-10px)}
88%,100%{opacity:1;-webkit-transform:scale(1) translateY(-10px);transform:scale(1) translateY(-10px)}
}
@keyframes trackBallSlide {
0%{opacity:1;-webkit-transform:scale(1) translateY(-10px);transform:scale(1) translateY(-10px)}
6%{opacity:1;-webkit-transform:scale(0.9) translateY(5px);transform:scale(0.9) translateY(5px)}
14%{opacity:0;-webkit-transform:scale(0.4) translateY(40px);transform:scale(0.4) translateY(40px)}
15%,19%{opacity:0;-webkit-transform:scale(0.4) translateY(-10px);transform:scale(0.4) translateY(-10px)}
28%,29.99%{opacity:1;-webkit-transform:scale(1) translateY(-10px);transform:scale(1) translateY(-10px)}
30%{opacity:1;-webkit-transform:scale(1) translateY(-10px);transform:scale(1) translateY(-10px)}
36%{opacity:1;-webkit-transform:scale(0.9) translateY(5px);transform:scale(0.9) translateY(5px)}
44%{opacity:0;-webkit-transform:scale(0.4) translateY(40px);transform:scale(0.4) translateY(40px)}
45%,49%{opacity:0;-webkit-transform:scale(0.4) translateY(-10px);transform:scale(0.4) translateY(-10px)}
58%,59.99%{opacity:1;-webkit-transform:scale(1) translateY(-10px);transform:scale(1) translateY(-10px)}
60%{opacity:1;-webkit-transform:scale(1) translateY(-10px);transform:scale(1) translateY(-10px)}
66%{opacity:1;-webkit-transform:scale(0.9) translateY(5px);transform:scale(0.9) translateY(5px)}
74%{opacity:0;-webkit-transform:scale(0.4) translateY(40px);transform:scale(0.4) translateY(40px)}
75%,79%{opacity:0;-webkit-transform:scale(0.4) translateY(-10px);transform:scale(0.4) translateY(-10px)}
88%,100%{opacity:1;-webkit-transform:scale(1) translateY(-10px);transform:scale(1) translateY(-10px)}
}
@-webkit-keyframes nudgeMouse {
0%{-webkit-transform:translateY(0);transform:translateY(0)}
20%{-webkit-transform:translateY(8px);transform:translateY(8px)}
30%{-webkit-transform:translateY(0);transform:translateY(0)}
50%{-webkit-transform:translateY(8px);transform:translateY(8px)}
60%{-webkit-transform:translateY(0);transform:translateY(0)}
80%{-webkit-transform:translateY(8px);transform:translateY(8px)}
90%{-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes nudgeMouse {
0%{-webkit-transform:translateY(0);transform:translateY(0)}
20%{-webkit-transform:translateY(8px);transform:translateY(8px)}
30%{-webkit-transform:translateY(0);transform:translateY(0)}
50%{-webkit-transform:translateY(8px);transform:translateY(8px)}
60%{-webkit-transform:translateY(0);transform:translateY(0)}
80%{-webkit-transform:translateY(8px);transform:translateY(8px)}
90%{-webkit-transform:translateY(0);transform:translateY(0)}
}
/* END Scrol Icon */
