@charset "UTF-8";
@font-face {
	font-family: "Geometria-bold";
	src: url("/fonts/geometria-bold.woff2") format("woff2"), url("fonts/geometria-bold.ttf") format("ttf");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Gswald";
	src: url("/fonts/geometria-bold.woff2") format("woff2"), url("fonts/geometria-bold.ttf") format("ttf");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Geometria-bold";
	src: url("/fonts/geometria-bold.woff2") format("woff2"), url("fonts/geometria-bold.ttf") format("ttf");
	font-weight: 600;
	font-style: normal;
}
html {
	height: 100%;
	font-size: 100%;
	scroll-behavior: smooth;
}

.transition-fade {
	transition: 0.6s;
	opacity: 1;
}

html.is-animating .transition-fade {
	opacity: 0;
	transform: translateY(100px);
}

*,
:before,
:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-input-placeholder {
	color: #24394B;
}

::-moz-placeholder {
	color: #24394B;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #24394B !important;
}

:focus::-webkit-input-placeholder {
	color: transparent;
}

:focus::-moz-placeholder {
	color: transparent;
}

:focus:-moz-placeholder {
	color: transparent;
}

:focus:-ms-input-placeholder {
	color: transparent;
}

body {
	background: #151515;
	font: 16px/1.4rem Geometria-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: #151515;
	letter-spacing: 0.5px;
	min-width: 320px;
	height: 100%;
}
body.fixed_body {
	min-height: 100%;
	overflow: hidden;
}

h1, h2, h3, h4 {
	font: 100%/1.8rem Geometria-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	display: inline-block;
	color: #151515;
	letter-spacing: 1px;
	line-height: 1.2;
}

h1 {
	margin: 1em 0 1.7em;
	font-size: calc(22px + 10 * ((100vw - 320px) / 1080));
}

h2 {
	font-size: 1.3rem;
	margin: 0.4em 0;
}

h3 {
	font-size: 1.1rem;
	margin: 0.7em 0;
}

h4 {
	font-size: 1rem;
	margin: 0.7em 0;
}

p {
	font-size: 1rem;
	line-height: 1.8;
}

a {
	background-color: transparent;
	display: inline-block;
	color: inherit;
	text-decoration: none;
	transition: color 0.3s;
	-webkit-text-decoration-skip: ink;
	text-decoration-skip: ink;
}

.icon {
	display: inline-block;
	position: relative;
	height: 20px;
	width: 20px;
	transition: 0.3s;
}

ul {
	list-style: none;
	display: inline-block;
}

img {
	position: relative;
	max-width: 100%;
	vertical-align: top;
}

input, textarea {
	border: medium none;
	border-radius: 10px;
	padding: 10px;
	font-size: 0.9rem;
	letter-spacing: 1px;
	outline: none;
	width: 100%;
	-webkit-appearance: none;
	resize: vertical;
	transition: 0.3s;
}

button {
	border-radius: 10px;
	border: none;
	display: inline-block;
	padding: 5px 10px;
}

.di, span {
	display: inline-block;
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-flow: row wrap;
}

.j-st {
	justify-content: flex-start;
}

.j-end {
	justify-content: flex-end;
}

.jc {
	justify-content: center;
}

.ja {
	justify-content: space-around;
}

.jb {
	justify-content: space-between;
}

.je {
	justify-content: space-evenly;
}

.as {
	align-items: flex-start;
}

.ac {
	align-items: center;
}

.ae {
	align-items: flex-end;
}

/* END ClleoWeb =============================================== */
/* Content */
.content-wrap {
	width: 100%;
	margin: 0 auto;
	min-width: 320px;
	max-width: 1200px;
	padding: 0 4vw;
}

.header {
	background: rgba(254, 254, 1, 0);
	position: fixed;
	top: 0;
	transition: 0.5s;
	min-height: 60px;
	width: 100%;
	z-index: 2;
}
.header.header-fixed {
	background: rgba(254, 254, 1, 0.95);
	min-height: auto;
}

.header-content {
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
	align-items: flex-start;
	margin: 0 auto;
	min-width: 320px;
	max-width: 1400px;
	position: relative;
	padding: 20px 20px;
	transition: 0.5s;
}
.header-content .logo-wrap {
	max-width: 350px;
	transition: 0.5s;
}
.header-content .logo-wrap .main-logo {
	position: relative;
	width: 100%;
	transition: 0.5s;
	z-index: 1;
}

.header-fixed .header-content {
	padding: 0 2vw;
}
.header-fixed .logo-wrap {
	padding: 2px 0 0;
	max-width: 130px;
}
.header-fixed .right-bar--open-btn {
	top: 15px;
}

/* right bar */
.right-bar--open-btn {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	position: relative;
	transition: 0.5s;
	text-align: right;
	top: 5px;
	right: 5px;
	width: 46px;
	cursor: pointer;
	z-index: 1;
}
.right-bar--open-btn span {
	background: #000;
	border-radius: 2px;
	position: relative;
	height: 5px;
	margin-bottom: 7px;
	transition: 0.3s;
	cursor: pointer;
}
.right-bar--open-btn .m-1 {
	width: 50%;
}
.right-bar--open-btn .m-2 {
	width: 100%;
}
.right-bar--open-btn .m-3 {
	width: 80%;
}
.right-bar--open-btn:hover .m-1 {
	width: 100%;
}
.right-bar--open-btn:hover .m-2 {
	width: 55%;
}
.right-bar--open-btn:hover .m-3 {
	width: 65%;
}

.right-bar {
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	padding: 10px 15px 50px 30px;
	top: 0;
	height: 100vh;
	width: 50%;
	right: -50%;
	opacity: 0;
	transition: transform 0.6s, opacity 0.5s;
	pointer-events: none;
	z-index: 102;
}
.right-bar.opened {
	pointer-events: auto;
	opacity: 1;
	transform: translateX(-100%);
}

.right-bar--header {
	margin-bottom: 20px;
}
.right-bar--header .right-bar--logo {
	position: relative;
	top: 10px;
	width: 150px;
	height: 50px;
}
.right-bar--header .i-close-wrap {
	position: absolute;
	right: 15px;
	top: 15px;
	width: 40px;
	height: 40px;
}
.right-bar--header .i-close-wrap .i-close {
	fill: #fff;
	width: 100%;
	height: 100%;
}

.right-bar-scroll {
	overflow-x: auto;
	max-height: 100vh;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.right-bar-links {
	padding: 50px 6px;
}
.right-bar-links .right-bar--link {
	display: block;
	position: relative;
	margin: 0 0 30px;
	left: 0;
	font-size: calc(50px + 50 * ((100vw - 320px) / 1080));
	font-weight: bold;
	line-height: 0.9;
	color: #fefe01;
	cursor: pointer;
	opacity: 0;
	transform: translateX(-20vw);
	transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1) 0.1s, opacity 0.5s ease 0.1s, left 0.3s ease 0s, color 0.3s ease 0s;
}
.right-bar-links .right-bar--link.active {
	color: #fff;
}
.opened .right-bar-links .right-bar--link:hover {
	left: 5px;
	color: #fff;
	transition-delay: 0s !important;
}
.opened .right-bar-links .right-bar--link {
	transform: translateX(0);
	opacity: 1;
}
.opened .right-bar-links .right-bar--link:nth-child(2) {
	transition-delay: 0.18s;
}
.opened .right-bar-links .right-bar--link:nth-child(3) {
	transition-delay: 0.24s;
}
.opened .right-bar-links .right-bar--link:nth-child(4) {
	transition-delay: 0.32s;
}
.opened .right-bar-links .right-bar--link:nth-child(5) {
	transition-delay: 0.4s;
}
.opened .right-bar-links .right-bar--link:nth-child(6) {
	transition-delay: 0.48s;
}
.opened .right-bar-links .right-bar--link:nth-child(7) {
	transition-delay: 0.56s;
}

.main {
	background: #fefe01;
	padding-top: calc(150px + 50 * ((100vw - 320px) / 1080));
}

/*** Main section One ***/
.main-section-one {
	position: relative;
	padding: 40px 0 40px;
}

.section-one--content {
	align-items: center;
	position: relative;
}

.section-one--text {
	flex: 0 1 50%;
	display: inline-block;
	position: relative;
}
.section-one--text .section-one--title {
	display: block;
	font-size: calc(22px + 4 * ((100vw - 320px) / 1080));
	font-weight: bold;
	line-height: 1.4;
	margin: 20vh 0 20vh;
	max-width: 500px;
}

.section-one--preview {
	flex: 0 1 50%;
	display: block;
	position: relative;
	padding-bottom: 28%;
}
.section-one--preview img {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.section-one--preview .i-play {
	display: inline-block;
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 35px);
	width: 70px;
	height: 70px;
	cursor: pointer;
	fill: #fff;
	transition: 0.3s;
	z-index: 1;
}
.section-one--preview .i-play:hover {
	transform: scale(1.15) rotate(120deg);
}

.go-to-btn {
	flex: 1 1 100%;
	position: relative;
	margin: 0 auto;
	min-width: 320px;
	max-width: 1400px;
	text-align: center;
}

.section-one-soc {
	position: absolute;
	top: -40%;
	width: 25px;
	height: auto;
}
.section-one-soc svg {
	position: relative;
	width: 100%;
	height: 25px;
	fill: #151515;
	margin-bottom: 15px;
	transition: 0.3s;
	cursor: pointer;
}
.section-one-soc svg:hover {
	transform: scale(1.2);
}

/*** END Main section One ***/
/*** Section Works ***/
.section-works {
	background: #151515;
}

.section-works--content {
	align-items: flex-start;
	position: relative;
	max-width: 100%;
}

.sw-item {
	flex: 0 1 50%;
	background: #151515;
	position: relative;
	overflow: hidden;
}
.sw-item img {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.sw-item.preload-img {
	padding-bottom: 28%;
}

.sw-item--title {
	position: absolute;
	left: 4vw;
	top: 15%;
	font-size: calc(22px + 16 * ((100vw - 320px) / 1080));
	font-weight: bold;
	color: #fff;
	z-index: 3;
}

.sw-item--hover {
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	width: 100%;
	height: 101%;
	transform: translateY(101%);
	transition: 0.5s;
	z-index: 2;
}
.sw-item:hover .sw-item--hover {
	transform: translateY(0);
}

.sw-item--play {
	position: absolute;
	left: 4vw;
	bottom: 15%;
	cursor: pointer;
	color: #fff;
	font-size: 1rem;
	text-transform: uppercase;
	transition: 0.3s;
}
.sw-item--play:hover {
	transform: scale(1.1);
}
.sw-item--play .i-play {
	position: relative;
	margin-right: 10px;
	width: 55px;
	height: 55px;
	fill: #fff;
	vertical-align: middle;
}

/*** END Section Works ***/
/* Page Works */
.page-works--content .page-title {
	position: relative;
	width: calc(240px + 610 * ((100vw - 320px) / 1080));
	margin-top: calc(30px + 70 * ((100vw - 320px) / 1080));
	margin-bottom: calc(30px + 70 * ((100vw - 320px) / 1080));
}
.page-works--content .page-title:before {
	content: "";
	background: url("/icon/se-preload.gif") no-repeat 50% 50%/100%;
	position: absolute;
	top: 5px;
	width: calc(50px + 130 * ((100vw - 320px) / 1080));
	height: 100%;
	right: 0;
}
.page-works--content .title-element {
	position: absolute;
	top: -50%;
	width: calc(50px + 60 * ((100vw - 320px) / 1080));
	height: auto;
	right: 2vw;
	transform: translate(0, -50%);
	transition-delay: 0.8s;
}

/* Page Art */
/* Page Contacts */
.page-art--content .page-title {
	position: relative;
	width: calc(240px + 610 * ((100vw - 320px) / 1080));
	margin-top: calc(30px + 70 * ((100vw - 320px) / 1080));
	margin-bottom: calc(30px + 70 * ((100vw - 320px) / 1080));
}
.page-art--content .page-title:before {
	content: "";
	background: url("/icon/peramon-yellow.gif") no-repeat 50% 50%/100%;
	position: absolute;
	top: -2px;
	width: calc(50px + 80 * ((100vw - 320px) / 1080));
	height: 100%;
	max-height: 115px;
	left: -5px;
}
.page-art--content .title-element {
	position: absolute;
	top: 28%;
	width: calc(50px + 230 * ((100vw - 320px) / 1080));
	height: auto;
	right: 1vw;
	transform: translate(0, -50%);
	transition-delay: 0.8s;
}

/* About Us */
/* Page Contacts */
.page-about--content {
	position: relative;
}
.page-about--content .page-title {
	position: relative;
	width: calc(240px + 560 * ((100vw - 320px) / 1080));
	margin-top: calc(30px + 70 * ((100vw - 320px) / 1080));
	margin-bottom: calc(30px + 70 * ((100vw - 320px) / 1080));
}
.page-about--content .page-title:before {
	content: "";
	background: url("/icon/te.gif") no-repeat 0 0/100%;
	position: absolute;
	top: -10px;
	width: calc(50px + 310 * ((100vw - 320px) / 1080));
	height: 100%;
	left: 36%;
}
.page-about--content .title-element {
	position: absolute;
	top: -60%;
	width: calc(50px + 170 * ((100vw - 320px) / 1080));
	height: auto;
	right: 0;
	transform: translate(0, -50%);
	transition-delay: 0.8s;
}

.page-about--section-two .page-about--content {
	position: relative;
	padding-bottom: 15vh;
	min-height: 100vh;
}
.page-about--section-two .page-about-text {
	flex: 0 1 50%;
	position: relative;
	padding: 0 3% 0 0;
	max-width: 600px;
}
.page-about--section-two .page-about-text p {
	position: relative;
	margin-bottom: 20px;
	line-height: 1.6;
	font-size: calc(20px + 0 * ((100vw - 320px) / 1080));
}
.page-about--section-two .page-about-element {
	flex: 0 1 50%;
	position: relative;
	transform: translate(50%, 0);
}

/* Page Works */
/* Page Careers */
.page-careers--content .page-title {
	position: relative;
	width: calc(240px + 610 * ((100vw - 320px) / 1080));
	margin-top: calc(30px + 70 * ((100vw - 320px) / 1080));
	margin-bottom: calc(30px + 70 * ((100vw - 320px) / 1080));
}
.page-careers--content .page-title:before {
	content: "";
	background: url("/icon/—Åomp.gif") no-repeat 50% 50%/100%;
	position: absolute;
	top: 10%;
	width: calc(50px + 100 * ((100vw - 320px) / 1080));
	height: 100%;
	left: 43%;
}
.page-careers--content .title-element {
	position: absolute;
	top: -60%;
	width: calc(50px + 90 * ((100vw - 320px) / 1080));
	height: auto;
	right: 0;
	transform: translate(0, -50%);
	transition-delay: 0.8s;
}

.page-careers--section-two {
	position: relative;
	overflow: hidden;
}
.page-careers--section-two .page-careers--content {
	position: relative;
	padding: 60px 4vw;
	min-height: 50vh;
}
.page-careers--section-two .page-careers--text {
	flex: 0 1 45%;
	position: relative;
	padding: 20% 3% 0 0;
}
.page-careers--section-two .page-careers--text .mail-link {
	position: relative;
	display: inline-block;
	transition: 0.3s;
	font-size: calc(20px + 12 * ((100vw - 320px) / 1080));
}
.page-careers--section-two .page-careers--text .mail-link:hover {
	transform: scale(1.2);
}
.page-careers--section-two .page-careers--text .worker-item {
	border-bottom: 2px solid #151515;
	position: relative;
	padding: 30px 0 10px;
	line-height: 1.6;
	font-size: calc(20px + 12 * ((100vw - 320px) / 1080));
}
.page-careers--section-two .page-careers-element {
	flex: 0 1 55%;
	position: relative;
}

/* Page Contacts */
/* Page Contacts */
.page-contacts--content .page-title {
	position: relative;
	width: calc(240px + 610 * ((100vw - 320px) / 1080));
	margin-top: calc(30px + 70 * ((100vw - 320px) / 1080));
	margin-bottom: calc(30px + 70 * ((100vw - 320px) / 1080));
}
.page-contacts--content .page-title:before {
	content: "";
	background: url("/icon/ce.gif") no-repeat 50% 50%/100%;
	position: absolute;
	left: calc(137px + 353 * ((100vw - 320px) / 1080));
	bottom: calc(12px + 33 * ((100vw - 320px) / 1080));
	width: calc(110px + 270 * ((100vw - 320px) / 1080));
	height: 100%;
}
.page-contacts--content .title-element {
	position: absolute;
	width: calc(100px + 160 * ((100vw - 320px) / 1080));
	height: auto;
	bottom: 0;
	right: 0;
	transform: translate(0, 70%);
	transition-delay: 0.8s;
}

.page-contacts--section-two {
	position: relative;
	overflow: hidden;
}
.page-contacts--section-two .page-contacts--content {
	position: relative;
}
.page-contacts--section-two .page-contacts--text {
	flex: 1 1 50%;
	position: relative;
	padding: 20% 3% 0 0;
}
.page-contacts--section-two .page-contacts--text .mail-link {
	display: block;
	position: relative;
	padding: 0 0 20px;
	transition: 0.3s;
	font-size: calc(20px + 0 * ((100vw - 320px) / 1080));
}
.page-contacts--section-two .page-contacts--text .mail-link:hover {
	transform: scale(1.04);
}
.page-contacts--section-two .page-contacts--text .page-contacts--address {
	border-top: 2px solid #151515;
	border-bottom: 2px solid #151515;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: 10px 0;
	margin-top: 20px;
	line-height: 1.6;
	font-size: calc(20px + 0 * ((100vw - 320px) / 1080));
	cursor: pointer;
}
.page-contacts--section-two .page-contacts--text .page-contacts--address p {
	padding: 0 15px 0 0;
}
.page-contacts--section-two .page-contacts--text .page-contacts--address .i-location {
	position: relative;
	width: 45px;
	height: 45px;
	transition: 0.5s;
}
.page-contacts--section-two .page-contacts--text .page-contacts--address:hover .i-location {
	transform: scale(1.2);
}
.page-contacts--section-two .page-contacts--element {
	flex: 1 3 45%;
	position: relative;
	transform: translate(50%, 0);
}
.page-contacts--section-two .page-contacts--element .popup--map {
	background: #000;
	height: 999px;
	max-height: 420px;
	margin: 0 0 2em;
	padding: 10px;
}
.page-contacts--section-two .soc-btn {
	position: relative;
	padding: 0 2vw;
	margin: 0 auto 50px;
	max-width: 1400px;
}
.page-contacts--section-two .soc-btn .soc-btn--wrap {
	width: 25px;
}
.page-contacts--section-two .soc-btn .soc-btn--wrap .i-soc {
	width: 100%;
	height: 35px;
}

/* Scroll Animation */
.anim_items {
	transform: translate(0, 50%);
	opacity: 0;
	transition: 0.8s ease-in-out 0s;
}
.anim_items.anim_bottom {
	transform: translate(0, 50%);
}
.anim_items.anim_left {
	transform: translate(-50%, 0);
}
.anim_items.anim_right {
	transform: translate(50%, 0);
}
.anim_items.animation {
	opacity: 1;
	transform: translate(0, 0);
}

/* END Scroll Animation */
/* Footer */
footer {
	background: #141414;
}

.footer-content {
	padding: 30px 4vw;
	max-width: 1400px;
	flex-flow: row nowrap;
	align-items: center;
	overflow: hidden;
}

.footer-logo {
	flex: 0 0 160px;
	max-width: calc(110px + 50 * ((100vw - 320px) / 1080));
}

.footer-soc {
	flex: 0 0 140px;
}
.footer-soc svg {
	display: block;
	position: relative;
	width: 30px;
	height: 30px;
	transition: 0.5s;
	cursor: pointer;
	fill: #fff;
}
.footer-soc svg:hover {
	transform: scale(1.15);
}

/* END Footer */
/* Preload img */
.b-lazy {
	opacity: 0;
	transition: opacity 0.5s ease 0.2s, transform 0.8s ease 0s;
	transform: scale(1);
}

.b-lazy.b-loaded {
	opacity: 1;
	transform: scale(1);
}

.pr-img {
	position: relative;
	min-height: 350px;
	font-size: 10px;
	text-align: center;
	line-height: 10;
	z-index: 1;
}

.preload-img:after {
	content: "";
	background: linear-gradient(100deg, #4a4a2d 30%, #6a6a2e 50%, #4a4a2d 70%);
	background-size: 400%;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	animation: preload-img 1.5s ease-in-out infinite;
	z-index: 0;
}

@-webkit-keyframes preload-img {
	0% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}
@keyframes preload-img {
	0% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}
/* END Preload img */
/* Icons */
.i-close {
	transform: rotate(45deg);
	transition: 0.5s;
	cursor: pointer;
	width: 100%;
}

.i-close:hover {
	transform: rotate(135deg);
}

/* END Icons */
/* Icon move Up */
.icon-move {
	animation-name: icon-up;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	transition: all 0.5s ease;
}

@-webkit-keyframes icon-up {
	0% {
		transform: translate3d(0, -4px, 0);
	}
	to {
		transform: translate3d(0, 4px, 0);
	}
}
@keyframes icon-up {
	0% {
		transform: translate3d(0, -4px, 0);
	}
	to {
		transform: translate3d(0, 4px, 0);
	}
}
.loader-spin {
	animation: spin 10s linear 0s infinite normal;
}

/* Css load */
@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
/* END Css load */
