
@font-face {
  font-family: 'Ethnocentric';
  src: url('Ethnocentric.eot?#iefix') format('embedded-opentype'),  url('Ethnocentric.woff') format('woff'), url('Ethnocentric.ttf')  format('truetype'), url('Ethnocentric.svg#Ethnocentric') format('svg');
  font-weight: normal;
  font-style: normal;
}
